{{> header }}

<main>
    <div>
        <h2>HOME</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, natus. Quam deserunt temporibus quod? Dolores tempore a qui deserunt praesentium laboriosam dolorem provident, quod ullam minima. Voluptatibus veritatis assumenda ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut cumque omnis doloribus? Voluptas consectetur ex fugit explicabo! Officia voluptatum ducimus explicabo atque magnam repudiandae laborum eveniet dolor blanditiis vero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repudiandae ex itaque nostrum expedita tenetur deleniti tempore soluta quam pariatur omnis, molestias ipsam optio id officiis quidem, facere suscipit. Cupiditate.
        </p>
    </div>
</main>

{{> footer }}