{{> header }}


<main>
    <div>
        <h2>PRODUTOS</h2>
        <picture><img src="/img/Livro-1.jpeg" alt="Livro 1"></picture>
        <picture><img src="/img/Livro-2.jpeg" alt="Livro 2"></picture>
        <picture><img src="/img/Livro-3.jpeg" alt="Livro 3"></picture>
    </div>
</main>

{{> footer }}